@charset "UTF-8";

.back1 {
   width: 1890px;
   height: 840px;
   
}

.ground1 {
   background-image: url("../image/dlvnrrhr.png");
   background-size: 100% 100%;
   z-index: -1;
}

.back {
   float: right;
   width: 1580px;
   height: 840px;
   
}

.ground {
   background-image: url("../image/dlvnrrhr.png");
   background-size: 100% 100%;
   z-index: -1;
   }