@charset "UTF-8";

table {
	width: 1250px;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(odd) td { background-color: rgb(224, 224, 224);}

tr:nth-child(even) td {background-color: white;}


th {
    height: 30px;
    border: 1px solid rgb(64, 0, 128);
    background-color: #f8f8f8;
}

td {
	text-align: center;
    height: 30px;
    border: 1px solid rgb(64, 0, 64);
    background-color: white;
}