@charset "UTF-8";

/* 검색창 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

input#name {
    width: 250px;
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    font-size: 1em;
    text-align: center;
    font-family: 'Pretendard-Regular';
    margin-right: 5px;
	
}

select {
    width: 80px;
    height: 30px;
    background-color: white;
    border: 1px solid #646464;
    border-radius: 30px;
    font-size: 1em;
    text-align: center;
    margin: 0 10px 0 0;
    font-family: 'Pretendard-Regular';
}

.btn-bs {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color : #646464;
    color: white;
    border: 0px;
    font-size: 1em;
    margin: 0 5px 0 5px;
    font-family: 'Pretendard-Regular';
}

/* 게시글 목록 */
table#listArea {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 900px;
	width : 80%;
	margin-bottom: 30px;
}

.boxing {
	display: flex;
    flex-direction: column;
}

table#listArea th {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	/* font-family: Arial, sans-serif; */
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	background-color: #f8f8f8;
}

table#listArea td {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	/* font-family: Arial, sans-serif; */
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
    text-align: center;
}

.search-area {
	margin-top: 30px;	
}

.btn-regist {
    width: 80px;
    height: 25px;
    border-radius: 20px;
    background-color : #646464;
    color: white;
    border: 0px;
    font-size: 1em;
    margin: 0 5px 0 5px;
    font-family: 'Pretendard-Regular';
}

/* 게시글 내용 테이블 */
table#listAreaForContent {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 900px;
	width : 80%;
	margin-bottom: 15px;
}

table#listAreaForContent th {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
/* 	font-family: Arial, sans-serif;
	font-weight: bold; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	background-color: #f8f8f8;
	width: 250px;
	margin: auto;
	height: 30px;
}

table#listAreaForContent td {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	/* font-family: Arial, sans-serif; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
    text-align: center;
    height: 30px;
    white-space: pre-wrap;
}

/* 댓글 내용 테이블 */
table#listAreaForAnswer {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 900px;
	width : 80%;
}

table#listAreaForAnswer th {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
/* 	font-family: Arial, sans-serif;
	font-weight: bold; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 30px;
	word-break: normal;
	background-color: #f8f8f8;
	width: 50%;
	margin: auto;
	height: 30px;
}

table#listAreaForAnswer td {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	/* font-family: Arial, sans-serif; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 30px;
	word-break: normal;
    height: 30px;
    text-align: left;
    white-space: pre-wrap;
}

/* 댓글 등록 테이블 */
table#answerRegistTable {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 900px;
	width : 80%;
	margin-top: 15px;
}

table#answerRegistTable th {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
/* 	font-family: Arial, sans-serif;
	font-weight: bold; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 30px;
	word-break: normal;
	background-color: #f8f8f8;
	width: 50%;
	margin: auto;
	min-height: 30px;
}

table#answerRegistTable td {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	/* font-family: Arial, sans-serif; */
	font-size: 14px;
	overflow: hidden;
	padding: 10px 30px;
	word-break: normal;
    min-height: 30px;
    text-align: left;
    white-space: pre-wrap;
}

textarea {
	display: flex;
    flex-direction: column;
	width: 100%;
}

/* 게시글 등록 테이블 */
/* 게시글 내용 테이블 */
table#questionRegistTable {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 900px;
	width : 60%;
	margin-bottom: 15px;
}

table#questionRegistTable th {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
/* 	font-family: Arial, sans-serif;
	font-weight: bold; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	background-color: #f8f8f8;
	width: 250px;
	margin: auto;
	height: 30px;
}

table#questionRegistTable td {
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	/* font-family: Arial, sans-serif; */
	font-size: 16px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
    text-align: center;
    min-height: 50px;
    white-space: pre-wrap;
}

.registCont textarea {
	width: 80%;
	height: 300px;
	margin: auto;
}


.btn-detail {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background-color : #646464;
    color: white;
    border: 0px;
    font-size: 0.9em;
    margin: 0 5px 0 5px;
    font-family: 'Pretendard-Regular';
}

.btn-detail:hover {
    opacity: 20%;
}
