<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:include="common/header.html"></div>
	<h3 align="center">학생 수정</h3>
	
	<button onclick="location.href='/student/search'">학생 검색</button>
	<button onclick="location.href='/student/regist'">학생 등록</button>
	<button onclick="location.href='/student/modify'">학생 수정</button>
	
	<form action="/student/modify" method="post" align="center">
		<label>학번　 : </label><input type="number" name="studentNo.studentNo"><br/>
		<label>이름　 : </label><input type="text" name="studentName"><br/>
		<label>연락처 : </label><input type="text" name="studentPhone"><br/>
		<input type="submit" value="전송">
	</form>
</body>
</html>